@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  font-synthesis: none;
}

body{
  margin: 0 20px;
}

.dark{
  background: #161616;
  color: #2f3336;
}

.books {
  display: grid;
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

